html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav.navbar {
    height: 140px;
    background-color: #343a40;
}

#navbarResponsive ul li {
    font-size: 1.2rem;
}

.required {
    color: red;
}

#about-us
{
    background-color: #4c4d4c;
    color: white;
}

#navbarResponsive {
    z-index: 100;
    margin-top: 2px;
    padding-left: 20px;
    padding-right: 20px;
}

#navbarResponsive .nav-link:hover {
    font-weight: bold;
}

 .carousel-item img {
    max-height: 380px;
}

.img-coach {                 /* sur les pages des programmes seulement */
    width: 635px;
    max-height: 420px;
  }

.title-section {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 2rem;
}

#services {
    background-image: url(../img/hero-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.error {
    color: #FF0000;
}

#services .list-group-item {
    padding: 0.75rem;
    font-size: 1.05rem;
    font-weight: 700;
    color: white;
    background-color: #4c4d4c;
}

.title-coaching {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#services .card {
    background-color: #4c4d4c;
    color: white;
}

.card .card-body .card-text {
    color: white
}

.card img {
    border-radius: 0;
}

#en-entreprise {
    background-color: #4c4d4c;
    color: white;
}

#en-entreprise p {
    font-size: 1.1rem;
}

#en-entreprise .bg-image {
    background-image: url(../img/offer.jpg);
    background-size: cover;
    height: 400px;
    color: white;
}

#en-entreprise .bg-image button.btn-success {
   font-size: 1.1rem;
}

#association {
    background-color: #4c4d4c;
    color: white;
}

#association p {
    font-size: 1.1rem;
}

#association .img-assos {
    max-width: 400px !important;
}

footer {
    background-color: #343a40;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

footer .social li {
    padding-bottom: 20px;
}

footer .social i {
    font-size: 2rem;
}

#scrollToTop {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgb(77, 75, 75);
    right: 10px;
    bottom: 10px;
    border-radius: 30%;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
}

#scrollToTop:hover {
    background-color: rgb(56, 55, 55);
}




/*------------------------------------------ MEDIA QUERIES --------------------------------------------*/

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) {

    #navbarResponsive ul li {
        font-size: 1rem;
    }

    .navbar-brand img {
        height: 100px;
        width: 280px;
    }

    /* .carousel-item img {
        max-height: 450px;
    } */


}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* Small devices (landscape phones, less than 768px)  */
@media (max-width: 767.98px) {}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #association .img-assos {
        max-width: 350px !important;
    }
}